ul {
    list-style-type: none;
    margin-left: 0px;
    padding: 0;
    overflow: hidden;
    font-size: 18.51px;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 35px;
    background-color: #B0C4DE;
}