.heap{
    border-style: solid;
    border-color: gray;
}
.app {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.img{
	align-items: middle;
}
.slider {
   
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .slide {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
  }