<h1 style="text-align: center; color:Orange;"><b>Patient dashboard</b></h1>
<br>
<div class="container-fluid">
  <img src="assets/images/docdash.jpg" style="width:1280px;height:300px;">
</div>


    
        
      
      <!--/.navbar-header-->
      <div class="container-fluid">
        <nav>
          <ul class="navset">
            <li><a routerLink="/myprofile" class="Active">My Profile</a></li>
            <li><a routerLink="/patienthistory">Medical History</a></li>	
            <li><a routerLink="/makeappointment">Make Appointment</a></li>
            <li><a routerLink="/cancelappointment">Cancel Appointment</a></li>
            <li><a routerLink="/searchdoctor">Search Doctor</a></li>
            <li><a routerLink="/feedback">Feedback</a></li>
            <li><a routerLink="/logout">LogOut</a></li>
            
          </ul>
          
        </nav>
        
      </div>

      