
<div class="container-fluid" style="background-image: url(assets/images/pat2.jpg);">
<form style="border:1px solid #ccc" align="center" 
(submit)= "onLogin()" >

   
    <h2 align="center" style="margin-top: 1px" style="color: white"> Login</h2> <br>
   <input type="text" placeholder="Enter Username"class="form-control" [(ngModel)]="username" name="username"><br>
  <input type="password" placeholder="Enter Password" class="form-control" [(ngModel)]="password" name="password">
  <br>
  <button  type="submit" class="btn">Login</button> <br>
  <a routerLink="/Doctorsignup" style="color: red"><u>Not Registered Yet</u></a>
</form>
  </div>
  <br>
  <br>
  <br>
  
  
 
 
 