<div class="footer_top_agile_w3ls">
		<div class="container">
			<div class="col-md-4 footer_grid">
				<h3>About Us</h3>
				<p>
				our goals are to preserve and sustain optimal health for our patients through comprehensive preventative health and wellness services while combating the rising cost of healthcare for employer organizations

				</p>
				
			</div>
			<div class="col-md-4 footer_grid">
				<h3>Latest News</h3>
				We offers a video check to our patients.
			</div>
			<div class="col-md-4 footer_grid">
				<h3>Contact Info</h3>
				<ul class="address">
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>8088 USA, Honey block, <span>New York City.</span></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i>
					<a href="www.gmail.com">roheelmustafa123@gmail.com</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>(051) 5464680</li>
				</ul>
			</div>
			

		</div>
	</div>
	
	<div class="footer_wthree_agile">
		<p>© 2018 Medecure. All rights reserved</p>
		
		
	</div>
	<!-- //footer -->
	