
<div class="banner_inner_content_agile_w3l">
	
</div>
	
	<div class="about">
		<div class="container">
			<h3 class="heading-agileinfo">What We Do<span>We offer extensive medical procedures to outbound and inbound patients.</span></h3>
			<div class="col-md-6 about-w3right">
				<img src="/assets/images/g6.jpg" class="img-responsive" alt="" />
			</div>
			<div class="col-md-6 about-w3left">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h5 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
								    aria-controls="collapseOne">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Data management becomes simple
							</a>
							</h5>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false"
						    style="height: 0px;">
							<div class="panel-body panel_text">
								Data management is the biggest reason a hospital needs an IT-based system. Since there is a huge load of data generated daily, managing it in the conventional method is simply impossible. Patient records, treatment records, investigation reports, diagnosis reports, billing, inventory and hundreds of other aspects make the situation out of control. An integrated, centralized system records and retrieves information in just a few clicks. Since the reference point is common, there is no ambiguity or duplication in data.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h5 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
								    aria-controls="collapseTwo">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>It is a statutory requirement as well
							</a>
							</h5>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false"
						    style="height: 0px;">
							<div class="panel-body panel_text">
								Hospitals are required to keep the record of each transaction as per legal requirement. Therefore, it is always better to have a full-fledged IT based system which can retrieve and produce it in seconds. Electronically stored data is fast, easy and convenient. Medecure has the functionality of generating various reports asked by legal authorities. The claim settlement process becomes fast due to the seamless integration with insurance companies.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h5 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
								    aria-controls="collapseThree">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Billing
							</a>
							</h5>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false"
						    style="height: 0px;">
							<div class="panel-body panel_text">
								A separate automated section is meant for billing purposes. Medecure helps to sum up all the expenses of a patient at one time and produce a complete bill at the end of the consultation. This saves time and efforts.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
							<h5 class="panel-title asd">
								<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true"
								    aria-controls="collapseFour">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Patient information
							</a>
							</h5>
						</div>
						<div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour" aria-expanded="true">
							<div class="panel-body panel_text">
								New patients can be registered in the system. An electronic medical record system is in-built which stores all the basic and medical details of the patient. .
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //about -->
<!-- emergency_cases -->
	<div class="emergency_cases_w3ls">
		<div class="emergency_cases_bt">
			<div class="container">
				<div class="emergency_cases_top">
					<div class="col-md-6 emergency_cases_w3ls_left">
						<h4>Opening Hours</h4>
						<h6>Monday - Thursday&nbsp;<span class="eme">9.00 - 18.00</span></h6>
						<h6>Friday&nbsp;<span class="eme">9.00 - 12.00</span></h6>
						<h6>Saturday - Sunday&nbsp;<span class="eme">9.00-13.00</span></h6>
					</div>
					<div class="col-md-6 emergency_cases_w3ls_right">
						<h4>Emergency Cases</h4>
						<h5><i class="fa fa-phone" aria-hidden="true">(051) 5464680</i></h5>
						<p>Your treatment plan is designed for steady progress, with every phase promptly implemented.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
<!-- //emergency_cases -->
<!-- team -->
<div class="team">
	<div class="container">
		<h3 class="heading-agileinfo">Medical Specialists<span>We offer extensive medical staff to our patients.</span></h3>
		<div class="teamgrids">
			<div class="col-md-2 teamgrid1">
				<img src="/assets/images/d1.jpeg" style="width: 200px;height: 200px;" class="img-responsive" alt="" />
				<div class="teaminfo">
					<h3>DR. Asif Bashir</h3>
					
					<p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Neurosurgeon</p>
					
					
				</div>
			</div>
			<div class="col-md-2 teamgrid1">
				<img src="/assets/images/d2.JPG" style="width: 200px;height: 200px;" class="img-responsive" alt="" />
				<div class="teaminfo">
					<h3>DR. Iram Ashraf</h3>
					
					<p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
					Dermatologist</p>
					
				</div>
			</div>
			<div class="col-md-2 teamgrid1">
				<img src="/assets/images/d3.JPG" style="width: 200px;height: 200px;" class="img-responsive" alt="" />
				<div class="teaminfo">
					<h3>DR. MUHAMMAD BILAL</h3>
					
					<p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Orthopedic Surgeon</p>
					
				</div>
			</div>
			<div class="col-md-2 teamgrid1">
				<img src="/assets/images/d4.JPG" style="width: 200px;height: 200px;" class="img-responsive" alt="" />
				<div class="teaminfo">
					<h3>DR. KHURRAM NADEEM</h3>
					
					<p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Dentist</p>
					
				</div>
			</div>
			<div class="col-md-2 teamgrid1">
				<img src="/assets/images/d5.JPG" style="width: 200px;height: 200px;" class="img-responsive" alt="" />
				<div class="teaminfo">
					<h3>DR. IMRAN NAUSHER</h3>
					
					<p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Orthopedic Surgeon</p>
					
				</div>
			</div>
			<div class="col-md-2 teamgrid1">
				<img src="/assets/images/d6.JPG" style="width: 200px;height: 200px;" class="img-responsive" alt="" />
				<div class="teaminfo">
					<h3>DR. AFTAB HUSSAIN</h3>
					
					<p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>CARDIAC SURGEON</p>
					
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

	
<div *ngIf="user">
	<h2 class="page-header">{{user.name}}</h2>
	<ul class="list-group">
	  <li class="list-group-item">Username : {{user.username}}</li>
	  <li class="list-group-item">Email : {{user.email}}</li>
	</ul>
  </div>
  