input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #E6E6FA;
    border: 2px solid #bdc7d8 ;
    border-radius: 10px;

}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 10px;
}


.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


.cancelbtn,.signupbtn {
    float: left;
    width: 12.5%;
}


.container {
    padding: 16px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.container .btn:hover {
    background-color: #A2A2A2;
    color:white ;
}


@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 30%;
    }
}