
<h2 align="center" style="margin-top: 1px">Admin Login</h2> <br>


<form  style="border:1px solid #ccc" align="center" >
  <div class="container-fluid " style="background-image: url(assets/images/admin.png);">
    
    <input type="text" placeholder="Enter Username" name="uname" required><br>

    
    <input type="password" placeholder="Enter Password" name="psw" required><br>
        
    <button type="submit" class="btn">Login</button><br>
    <a routerLink="/AdminSignup" style="color: red"><u>Not Registered Yet</u></a>    
 
  </div> 
</form>
